header{
  position: fixed;
}
body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.bg{
  background-color: rgb(0, 0, 0);
  background-position: fixed;
  color: white;
}

.search-field {
  border: none;
  border-radius: 50px;
  padding: 5px;
  outline: none;
  background-color: black;
}
.search-field:hover {
  outline: none;
  border: none;
}
.search-box {
  border: 1px solid rgb(233, 236, 238);
  width: 281px;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  border-right: none;
 
}
.search-button {
  padding: 10px 50px;
  border-radius: 25px;
  margin-left: 25px;
}
.all-product-container{
  margin-top: 50px;
  margin-bottom: 50px ;
}
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15Px;
  text-align: center;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.product{
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 10px;
}
.single-product {
  padding: 10px;
  transition: 0.6s;
  background-color: white;
  color: black;
}
.product:hover {
  box-shadow: 5px 5px 20px gray;
  border: 1px solid black;
}
.image-div{
  width: 100%;
  
}
.product-image {
  width: 150px;
  height: 100%;
  object-fit: cover;
}
.cart {
  width: 350px;
  padding: 15px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
  top: 100px;
}
.cart-main {
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: absolute;
    bottom: 0;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
